doctype html
html
  head 
    title #{title}
  body
    form(id="login" method="post" )
      input(type="text", placeholder="Email" name="email")
      input(type="password", placeholder="Password" name="password")
      input(type="submit", value="Login")
    //- script(scr="/scripts/login.js")
    script
      include ./scripts/login.js
    
      
      